@import 'nib'

body
	color #030303
	font-family 'futura-pt'
	background transparent

p, h1, h2, h3, h4, li
	font-family 'futura-pt', sans-serif
	color white
	text-align center
	margin 30px auto

.logo
	background url(../images/hyprtxt_stack.png) no-repeat center center
	width 300px
	height 300px
	margin 0 auto
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover

.center
	text-align center

.footer
	position relative
	width 100%
