- bypass.stylesheets.push('./css/index.css')
doctype html
html
	include ./jade/head.jade
	body
		.container
			.col-sm-12
				h1.title=title
				p=description

			.col-sm-4
				h2 Get out your Loopers!
				p Yothrow is for folks who like to throw yo-yo's in all directions. We know looping is where its at.
			.col-sm-4
				h2 Yo Yo Reviews
				ul
					li Loop 360
					li BumbleBee
					li Pro Yo
		include ./jade/foot.jade